<header>
  <div class="top-wrapper">
    <div class="header-left">
      <%= link_to 'Be ambitious', root_path, class: "header-logo" %>
    </div>
      <div class="header-right">
        <ul class="nav">
          <li><%= link_to 'ログイン', "#", class: "sign-in" %></li>
          <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
          <li><%= link_to '法人の方はこちら', "#", class: "company-sign-up" %></li>
        </ul>
      </div>
  </div>
</header>
<div style="background-image:url(/images/Live.png)" class="contents-wrapper">
    <div class="context">
      <div class="catch-copy">あなたの夢は、ここから始まる。</div>
      <p class="detail">歌うことが好き。将来は歌声をたくさんの人に届けたいけど、<br>仕事にするのはちょっぴり不安。そんな悩みを抱えていませんか。<br><br>毎回のオーデションにかかるコストを削減しつつ、<br>将来性のある人材が欲しい。そんな課題を抱えていませんか。<br><br>このアプリはユーザー様、法人様双方の課題を<br>BtoCによるマッチングシステムで解決し、<br>エンターテイメント業界のさらなる発展に貢献いたします。</p>
    </div>
    <div class="footer">
      <div class="my-name">presented by Sho.</div>
    </div>
</div>