<div style="background-image:url(/images/Live.png)" class="contents-wrapper">
    <div class="context">
      <% if user_signed_in? %>
        <div class="index-container">
          <h2 class="index-title">企業一覧</h2>
          <div class="index-contents">
            <% @companies.each do |company| %>
              <div class="index-content">
                <%= link_to image_tag(company.image, class: 'image'), company_path(company.id) if company.image.attached? %>
                <%= link_to company.company_name, company_path(company.id), class: "user-info" %>

                <% if company.user_relations.find_by(user_id: current_user.id).present? %>
                  <% if company.company_relations.find_by(user_id: current_user.id).present? %>
                    <div class="matching-status">マッチングしています!!</div>
                  <% else %>
                    <div class="follow-status">フォローしています!</div>
                  <% end %>
                <% elsif company.company_relations.find_by(user_id: current_user.id).present? %>
                  <div class="follow-status">フォローされています!</div>
                <% end %>

              </div>
            <% end %>
          </div>
        </div>
      <% elsif company_signed_in? %>
        <div class="index-container">
          <h2 class="index-title">ユーザー一覧</h2>
          <div class="index-contents">
            <% @users.each do |user| %>
              <div class="index-content">
                <%= link_to image_tag(user.image, class: 'image'), user_path(user.id) if user.image.attached? %>
                <%= link_to user.nickname, user_path(user.id), class: "user-info" %>

                <% if user.company_relations.find_by(company_id: current_company.id).present? %>
                  <% if user.user_relations.find_by(company_id: current_company.id).present? %>
                    <div class="matching-status">マッチングしています!!</div>
                  <% else %>
                    <div class="follow-status">フォローしています！</div>
                  <% end %>
                <% elsif user.user_relations.find_by(company_id: current_company.id).present? %>
                  <div class="follow-status">フォローされています!</div>
                <% end %>

              </div>
            <% end %>
      <% else %>
        <div class="catch-copy">あなたの夢は、ここから始まる。</div>
        <p class="detail">歌うことが好き。将来は歌声をたくさんの人に届けたいけど、<br>仕事にするのはちょっぴり不安。そんな悩みを抱えていませんか。<br><br>毎回のオーデションにかかるコストを削減しつつ、<br>将来性のある人材が欲しい。そんな課題を抱えていませんか。<br><br>このアプリはユーザー様、法人様双方の課題を<br>BtoCによるマッチングシステムで解決し、<br>エンターテイメント業界のさらなる発展に貢献いたします。</p>
      <% end%>
    </div>
</div>
<div class="footer">
  <div class="my-name">presented by Sho.</div>
</div>