/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
 }

/* ヘッダー======================= */

header {
  background-color: rgba(0, 0,  17, 0.7);    /* rgbは 0, 0, 68と迷い中 */
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.form-header {
  background-color: rgba(0, 0,  17, 0.7);
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.apps-header {
  background-color: rgba(0, 0,  17, 0.6);
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.top-wrapper {
  text-align: center;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apps-wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-left {
  font-size: 40px;
  margin: 10px 20px;
  text-align: center;
}

.header-logo {
  text-decoration: none;
  color: lightgray;
  font-family: 'Abril Fatface', cursive;
}

.header-right {
  margin: 10px 20px;
  width: 400px;
}

.nav {
  display: flex;
  font-size: 22px;
  list-style: none;
}

.sign-in {
  text-decoration: none;
  color: lightgray;
}

.sign-up {
  text-decoration: none;
  color: lightgray;
  margin-left: 0px;
}

.sign-out {
  text-decoration: none;
  color: lightgray;
  margin-left: 20px;
}

.hello {
  text-decoration: none;
  color: lightgray;
}

.company-sign-up {
  text-decoration: none;
  color: lightgray;
  margin-left: 5px;
}

/* ここまでヘッダー================== */
/* ここからトップページのコンテンツ =========*/
.contents-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.contents-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  height: 100%;
}

.context {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.catch-copy {
  width: 100%;
  color: white;
  font-size: 60px;
  z-index: 1;
  margin-top: 200px;
  margin-bottom: 50px;
}

.detail {
  color: white;
  margin-top: 40px;
  font-size: 20px;
}

.index-container {
  width: 100%;
  height: 100%;
  padding-top: 110px;
  position: absolute;
}

.index-title {
  font-size: 50px;
  border-bottom: 2px solid darkgrey;
  width: 40%;
  font-weight: normal;
  margin: 0 auto;
  color: coral;
}

.user-info {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.index-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.index-content {
  width: 20%;
  margin: 30px 25px;
}

.image {
  width: 100%;
  height: 70%;
}

.matching-status {
  background-color: crimson;
  border-radius: 15px;
  margin: 2px auto;
  width: 80%;
  color: aliceblue;
}

.follow-status {
  border-radius: 15px;
  margin: 2px auto;
  width: 80%;
  background-color: rgba(0, 51, 102, 0.8);
  color: aliceblue;
}

/* ここまでトップページのコンテンツ =========*/



/* フッター==================================*/
.footer {
  background-color: rgba(17, 17,  17, 0.7);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 10;
}

.my-name {
  color: lightgray;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  line-height: 50px;
}

/* form=============================== */

.main {
  padding-top: 90px;
  background-image: url("images/Live.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100% - 90px);
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: auto;
}

.main::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.inner {
  width: 100%;
  margin: 0 auto;
  padding: 25px 0 75px 0;
  display: flex;
  justify-content: center;
  border: none;
}

.form__wrapper {
  min-height: calc(100vh - 161vh);
  height: 101%;
  width: 60%;
  margin: 0 80px;
  background-color: rgba(238,238,238,0.4);
  z-index: 10;
}

.page-heading {
  font-size: 30px;
  font-family: cursive;
  color: #0000ff;
  margin-bottom: 20px;
}

.field {
  margin: 10px auto;
}

.input {
  margin-top: 5px;
  display: inline-block;
  width: 40%;
  height: 28px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 17);
  background: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 5px;
}

.send {
  margin-top: 5px;
  color: white;
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: #0000bb;
  border: none;
  border-radius: 10px;
}

.staff {
  display: flex;
  justify-content: center;
}

.kana {
  width: 100%;
}

.profile {
  margin-top: 5px;
  display: inline-block;
  width: 95%;
  border-radius: 9px;
  border: 1px solid #333333;
  background: none;
  padding: 0 5px;
}

.profile::placeholder {
  color: black;
}

.logged-in-main {
  padding-top: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: auto;
}

.logged-in-main::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.sign-in-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  position: absolute;
}

.sign-in-form {
  min-height: calc(100vh - 161vh);
  height: 85%;
  width: 60%;
  margin: 0 80px;
  background-color: rgba(238,238,238,0.4);
  z-index: 10;
}

.sign-in-heading {
  font-size: 40px;
  font-family: cursive;
  color: #0000ff;
  margin-top: 40px;
  margin-bottom: 75px;
}

.sns-logged-in {
  display: flex;
  justify-content: center;
  height: 45%;
  padding-top: 15px;
}

.google-btn {
  margin: 30px;
}

.facebook-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #3366ff;
  color: white;
  border: none;
  line-height: 44px;
  height: 44px;
  border-radius: 10px;
  padding: 0 4px;
  margin: 30px;
}

.form-footer {
  background-color: rgba(17, 17, 17, 0.7);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 10;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px auto;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* ================== ここまで user_form ================== */

.mein-container {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.mein-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.content-title {
  width: 100%;
  margin: 90px auto;
  position: absolute;
  font-size: 40px;
  color: white;
}

/* 詳細ページ ============================ */

.detail-contents {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.detail-contents::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  height: 100%;
}

.detail-container {
  width: 100%;
  height: 75%;
  padding-top: 110px;
  position: absolute;
}

.information-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  position: absolute;
  height: 100%;
}

.profile-contents {
  min-height: calc(100vh - 161vh);
  height: 90%;
  width: 70%;
  margin: 0 80px;
  background-color: rgba(238,238,238,0.4);
  z-index: 10;
  overflow: auto;
}

.pro-image {
  margin-top: 10px;
  height: 200px;
}

.img {
  width: 40%;
  height: 90%;
}

.info-list {
  list-style-type: square;
  font-size: 26px;
  text-align: left;
  margin: 30px 30px 18px 30px;
  display: flex;
  justify-content: space-around;
}

.profile-detail {
  font-size: 26px;
}


.cp_h1title {
	position: relative;
	padding: .1em .3em .1em .5em;
  border-left: 6px solid #c0c0c0;
  font-size: 30px;
  width: 40%;
  margin: 0 auto;
  color: coral;
}
.cp_h1title::before {
	position: absolute;
	content: '';
	left: -6px;
	bottom: 0;
	width: 6px;
	height: 50%;
	background-color: coral;
}
.cp_h1title::after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	border-bottom: 1px solid #c0c0c0;
}

.profile-text {
  text-align: left;
  margin: 10px auto;
  padding: 2px;
  width: 83%;
  height: 120px;
  border: 1px solid black;
}

.office-url {
  text-decoration: none;
  color: black;
}

.match {
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  color: black;
}

.arrow {
  font-size: 18px;
  color: red;
  font-weight: bold;
}

.follow-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #75A9FF;
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  padding: 4px;
  margin: 30px;
}

.unfollow-btn {
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  background-color: #0c2f68;
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  padding: 0 2px;
  margin: 30px;
}

.to-chat {
  text-decoration: none;
  display: inline-block;
  background-color: #75A9FF;
  color: white;
  border: none;
  line-height: 32px;
  height: 40px;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 10px;
}

/* ========== message ===================*/
.message-header {
  background-color: #2f3e51;
  position: relative;
}

.message-wrapper {
  background-color: #fafafa;
  height: calc(100vh - 90px);
  display: flex;
}

.message-side {
  width: 15%;
  height: 100%;
  background-color: #072752;
}

.side-list {
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 40px 20px;
}

.info-li {
  margin-top: 25px;
}

.url {
  text-decoration: none;
  color: white;
}

.list-img {
  width:  170px;
  height: 170px;
  border-radius: 50%;
  background-position: left top;
  display: inline-block;
  margin: 40px 0 0 15px;
}

.message-field {
  width: 85%;
}

.from {
  font-size: 26px;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.plese {
  color: gray;
  text-align: right;
}

.yet {
  margin-top: 15px;
  font-size: 16px;
}

.message-index {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

.message-container {
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  padding: 0 10px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}

.content {
  text-decoration: none;
}

.message-footer {
  background-color: rgba(17, 17,  17, 0.7);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 10;
}

.footer-name {
  color: lightgray;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  width: 85%;
  line-height: 50px;
}

.textarea {
  width: 100%;
  padding: 2px;
}

.send-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #75A9FF;
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  padding: 4px;
  margin-top: 20px;
}

.show-message {
  font-size: 20px;
  margin: 10px 0 5px 0;
}

.cancel {
  margin-top: 5px;
  text-decoration: none;
  color: gray;
}